# Intellij
*.iml
.idea

# vscode
.vscode

# npm
node_modules

# yarn
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build
build

# testing
coverage
tests/e2e/vault/
tests/vaults/*/.obsidian

# mkdocs
site/
venv/
.venv/
docs/docs/en/media/~*
.obsidian/plugins/obsidian-spaced-repetition-beta/*

# env
env.sh


