# Intellij
*.iml
.idea

# vscode
.vscode 

# npm
node_modules
package-lock.json

# yarn
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build
build

# coverage
coverage

# Temp for hot reloads
main.js