.sr-flashcard-menu {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sr-flashcard-menu-item {
    box-shadow: none !important;
    margin-right: 1rem;
    cursor: pointer;
}

.sr-flashcard-menu-item:disabled {
    cursor: not-allowed;
}

.sr-flashcard-input-modal {
    height: 80%;
}

.sr-flashcard-input-area {
    height: 80%;
}

.sr-flashcard-input-area > textarea {
    height: 100%;
}

.sr-flashcard-edit-button-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.sr-flashcard-response {
    display: inline-grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    position: absolute;
    bottom: 0;
}

.sr-ignorestats-btn {
    /* Bit of a hack, but it works. */
    margin: 0px !important;
    margin-right: 12px !important;
}

.sr-ignorestats-response {
    grid-template-columns: 50% 50% !important;
}

.sr-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sr-deck-counts {
    color: #ffffff;
    margin-left: 4px;
    padding: 4px;
}

#sr-show-answer {
    height: 48px;
    line-height: 48px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    background-color: #2196f3;
    color: #ffffff;
    border-radius: 4px;
    user-select: text;
}

#sr-hr-card-divide {
    backdrop-filter: invert(40%);
    border: none;
    height: 2px;
}

#sr-hard-btn,
#sr-good-btn,
#sr-easy-btn {
    height: 48px;
    margin: auto;
    color: #ffffff;
    cursor: pointer;
}

#sr-hard-btn {
    background-color: #f44336;
}

#sr-good-btn {
    background-color: #2196f3;
}

#sr-easy-btn {
    background-color: #4caf50;
}

#sr-context {
    font-style: italic;
    font-weight: bold;
    margin-top: 16px;
    display: block;
    width: 100%;
}

.sr-modal-content {
    position: relative;
    height: 92%;
    width: 100%;
}

#sr-flashcard-view {
    font-size: var(--font-text-size);
    overflow-y: auto;
    height: 80%;
    width: 100%;
    user-select: text;
}

#sr-chart-period {
    appearance: menulist;
    border-right: 8px solid transparent;
}

@media only screen and (max-width: 600px) {
    .sr-back-btn {
        width: initial !important;
    }

    .sr-modal-content {
        width: 98% !important;
        height: 90%;
    }

    #sr-context {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 92%;
        /* height: 20px; */
    }

    #sr-flashcard-view {
        height: 70% !important;
    }

    .sr-modal-content::-webkit-scrollbar,
    #sr-flashcard-view::-webkit-scrollbar {
        display: none;
    }

    .sr-flashcard-response,
    #sr-show-answer {
        width: 93.5% !important;
        /* line-height: 60px; */
        left: 0;
        right: 0;
        margin: auto;
    }

    #sr-hard-btn,
    #sr-good-btn,
    #sr-easy-btn {
        width: 100px;
    }

    /* sidebar */
    .nav-file-title,
    .nav-folder-title {
        margin-bottom: var(--size-2-1);
        display: flex;
    }

    .nav-folder-title {
        padding: var(--nav-item-parent-padding);
    }

    .nav-folder.mod-root .nav-folder > .nav-folder-children {
        padding-left: var(--nav-item-children-padding-left);
        margin: 0 0 0 var(--nav-item-children-margin-left);
        border-left: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
    }

    .nav-file {
        margin-left: var(--nav-item-children-margin-left);
        border-radius: var(--radius-s);
    }
}

/* https://img.shields.io/github/v/release/chetachiezikeuzor/cMenu-Plugin */
/*----------------------------------------------------------------
ResponseFloatBar TOOLBAR
----------------------------------------------------------------*/

#reviewNoteResponseModalBar {
    width: 95%;
    height: auto;
    padding: 3px;
    display: grid;
    user-select: none;
    border-radius: 6px;
    position: absolute;
    /* flex-direction: row; */
    left: 0;
    right: 0;
    bottom: 12%;
    margin: auto;
    align-items: center;
    transition: 200ms ease;
    min-width: fit-content;
    justify-content: space-around;
    z-index: var(--layer-status-bar);
    box-shadow: 0px 3px 32px rgba(37, 49, 224, 0.15);
    border: 1px solid var(--background-modifier-border);
}

.ResponseFloatBarCommandItem {
    border: none;
    display: flex;
    cursor: pointer;
    padding: 5px 6px;
    min-width: 10px;
    width: 98%;
    height: 48px;
    box-shadow: none;
    margin-left: 3px;
    margin-right: 3px;
    margin: auto;
    position: relative;
    flex-direction: row;
    border-radius: 3px;
    font-size: initial !important;
    --background-secondary: var(--background-primary-alt);
}

#reviewNoteResponseModalBar button.ResponseFloatBarCommandItem:hover {
    color: #050505;
    background-color: var(--background-secondary);
}

#reviewNoteResponseModalBar button.ResponseFloatBarCommandItem svg {
    width: 1.3em;
    height: 1.3em;
}

/*----------------------------------------------------------------
  ResponseFloatBar SETTING ITEMS
  ----------------------------------------------------------------*/
.setting-item.ResponseFloatBarCommandItem:first-child {
    padding-top: 18px;
}

#sr-reset-btn,
#sr-again-btn {
    background: #6b6b6b;
}
#sr-blackout-btn {
    background: #6b6b6b;
}
#sr-incorrect-btn {
    background: #be9d9d;
}
#sr-incorrect\ \(easy\)-btn {
    background: #ff9088;
}

#sr-showintvl-btn,
#sr-close-btn {
    margin-top: 13px;
    height: 20px;
}

.ResponseFloatBarCommandItem {
    cursor: grab;
    padding: 18px 0 18px 0;
}

.sortable-fallback {
    cursor: grabbing;
    box-shadow: 0px 3px 32px rgb(31 38 135 / 15%);
}

.sortable-grab {
    cursor: grabbing !important;
}

.sortable-ghost {
    opacity: 0.4;
    cursor: grabbing;
}

.sortable-chosen {
    cursor: grabbing;
    padding: 18px 0 18px 18px;
    background-color: var(--background-primary);
}

.sortable-drag {
    cursor: grabbing;
    box-shadow: 0px 3px 32px rgb(31 38 135 / 15%);
}

/*----------------------------------------------------------------
  ResponseFloatBar CLASS CHANGES
  ----------------------------------------------------------------*/

.ResponseFloatBarGlassAesthetic {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.ResponseFloatBarDefaultAesthetic {
    background-color: var(--background-primary);
}

/*----------------------------------------------------------------
  ResponseFloatBar ICONS
  ----------------------------------------------------------------*/

.ResponseFloatBarIconPick {
    line-height: normal;
    vertical-align: middle;
    margin-right: 8px;
}

.ResponseFloatBarIconPick svg {
    width: 17px;
    height: 17px;
}
