/* MARK: EditModal */

.sr-edit-modal {
    height: 80%;
}

.sr-edit-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-4-4);
}

.sr-edit-view .sr-input {
    flex-grow: 1;
    width: 100%;
    resize: none;
}

.sr-edit-view .sr-response {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-top: 0;
}

.sr-edit-view .sr-response-button {
    width: 100%;
}

.sr-edit-view .sr-response-button.sr-dummy-button {
    opacity: 0;
    cursor: default;
}
