/* MARK: Status Bar */

.sr-status-bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-4-1);

    &.mod-clickable {
        --cursor: pointer;
    }
}
